@using System.Web.Optimization
@model GameEngine.ViewModel.GameViewModel
@{
    Layout = null;
    ViewBag.Title = "Home";
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta id="viewport" name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="description" content="Game" />
    <meta name="Author" content="">
    <meta name="format-detection" content="telephone=no" />
    <title>GameEngine Game</title>
    @* CSS here *@
    @Styles.Render("~/Assets/css/home")
    @Scripts.Render("~/Assets/js/jquery")
    <script>
        window.parent.postMessage('{"element_cfg" : "show_footer"}', "*");
    </script>
</head>
<body>
    <div class="preloader">
        <div class="gameBGPreload"></div>
        <div class="present1Preload"></div>
        <div class="present2Preload"></div>
        <div class="present3Preload"></div>
        <div class="present4Preload"></div>
        <div class="present5Preload"></div>
        <div class="present6Preload"></div>
        <div class="present7Preload"></div>
        <div class="present8Preload"></div>
        <div class="present9Preload"></div>
        <div class="present10Preload"></div>
        <div class="arrowLeft"></div>
        <div class="arrowRight"></div>
        <div class="elfPreload"></div>
    </div>
    <div id="wrapper">
        <div class="inner">
            <div class="scoreText">@Model.Dashboard.BestScore</div>
            <div class="positionText">@Model.Dashboard.LeaderBoardPosition</div>

            @{ Html.BeginForm("Index", "Game",
                         new
                         {
                             campaignKey = Model.Consumer.GaasCampaignKey,
                             panelId = Model.Config.GaasPanelId,
                             consumerId = Model.Consumer.GaasConsumerId,
                         }, FormMethod.Post, new { enctype = "multipart/form-data" }); }
            <input id="btnPlay" type="submit" value="PLAY">
            @{ Html.EndForm();}

        </div>
    </div>
    <script>
        //$(document)
        //    .ready(function() {
        //        $('#btnPlay')
        //            .click(function() {
        //                window.parent.postMessage('{"game_play" : "over"}', "*");
        //            });
        //    });

    </script>
</body>
</html>