<div id="questionDialog" style="display: none;">
    <p>
        Question
    </p>
    <div>
        <input type="radio" name="Answer" value="1" id="Answer1" checked="checked" />
        <label for="Answer1">Answer 1</label>
    </div>
    <div>
        <input type="radio" name="Answer" value="2" id="Answer2" />
        <label for="Answer2">Answer 2</label>
    </div>
    <div>
        <input type="radio" name="Answer" value="3" id="Answer3" />
        <label for="Answer3">Answer 3</label>
    </div>
    <div>
        <input type="radio" name="Answer" value="4" id="Answer4" />
        <label for="Answer4">Answer 4</label>
    </div>
    <button id="questionDialogButton" onclick="$('#questionDialog').hide();">SUBMIT ANSWER</button>
</div>
