<div id="questionDialog" style="display: none;">
    <input type="hidden" name="QuestionId" value="0" id="questionId" />
    <p id="questionContent">
        Question
    </p>
    <div id="questionResponses">
        <div>
            <input type="radio" name="Answer" value="1" id="answerInput1" checked="checked" />
            <label for="answerInput1" id="answerLabel1">Answer 1</label>
        </div>
        <div>
            <input type="radio" name="Answer" value="2" id="answerInput2" />
            <label for="answerInput2" id="answerLabel2">Answer 2</label>
        </div>
        <div>
            <input type="radio" name="Answer" value="3" id="answerInput3" />
            <label for="answerInput3" id="answerLabel3">Answer 3</label>
        </div>
        <div>
            <input type="radio" name="Answer" value="4" id="answerInput4" />
            <label for="answerInput4" id="answerLabel4">Answer 4</label>
        </div>
    </div>
    <button id="questionDialogButton">SUBMIT ANSWER</button>
</div>
