@font-face {
    font-family: 'HelveticaNeueBold';
    src: url('../fonts/helveticaneuecyr-bold.eot');
    src: url('../fonts/helveticaneuecyr-bold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/helveticaneuecyr-bold.woff2') format('woff2'),
         url('../fonts/helveticaneuecyr-bold.woff') format('woff'),
         url('../fonts/helveticaneuecyr-bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
	font-family: 'HelveticaNeue';
	src: url('../fonts/HelveticaNeue-Light.ttf');
}
html, body {
	padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    font-family: 'HelveticaNeue', Helvetica,Arial,sans-serif;
    overflow: hidden;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-overflow-scrolling: none;
    -o-user-select: none;
    user-select: none;
    cursor: default;
}
#wrapper {
    margin: 0 auto;
    -ms-transform-origin: center top;
    -moz-transform-origin: center top;
    -o-transform-origin: center top;
    -webkit-transform-origin: center top;
    transform-origin: center top;
    width: 640px;
    height: 920px;
	overflow: hidden;
}
.finalScore {
    width: 100%;
    text-align: center;
    font-size: 100px;
    margin-top: 475px;
    font-family: HelveticaNeueBold;
    color: #ffffff;
}
.facebookText {
    font-family: 'HelveticaNeueBold', Helvetica,Arial,sans-serif;
    position: absolute;
    width: 100%;
    text-align: center;
    top: 625px;
    font-size: 24px;
}
.btnShare {
    background-color: #000;
    color: #fff;
    padding: 18px 10px 10px 10px;
    cursor: pointer;
}
.fa-facebook {
    font-size: 35px;
}
#btnPlay {
    background: #ff443f;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    border: none;
    color: #ffffff;
    padding: 5px 10px 5px 10px;
    text-decoration: none;
    cursor: pointer;
    display: block;
    outline: none;
    text-align: center;
    font-size: 30px;
    height: 60px;
    width: 400px;
    position: absolute;
    top: 740px;
    left: 120px;
    -webkit-appearance: none;
}   
.congratsText {
    font-size: 40px;
    color: #fff;
    text-align: center;
    position: absolute;
    top: 200px;
    width: 100%;
    font-family: HelveticaNeueBold;
}
.congrats {
    font-size: 54px;
}
