html, body {
	padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    font-family: Helvetica,Arial,sans-serif;
    overflow: hidden;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-overflow-scrolling: none;
    -o-user-select: none;
    user-select: none;
    cursor: default;
	background-color: #000;
}
#wrapper {
    margin: 0 auto;
    -ms-transform-origin: center top;
    -moz-transform-origin: center top;
    -o-transform-origin: center top;
    -webkit-transform-origin: center top;
    transform-origin: center top;
    width: 640px;
    height: 920px;
	background-color: #fff;
	background: url('../images/background.jpg') no-repeat;
	background-size: contain;
	overflow: hidden;
}
.people {
    background: url('../images/people.png') no-repeat;
    background-size: contain;
    width: 640px;
    height: 920px;
    top: 50px;
    position: absolute;
}
.preloader {
	opacity: 0;
	visibility: hidden;
	width: 0px;
}
.countdown {
	position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
	height: 300px;
}
.number {
	font-size: 300px;
    font-family: 'HelveticaNeueBold', Helvetica,Arial,sans-serif;
	text-align: center;
	color: #ff433f;
	text-shadow: 5px 5px 5px #000;
	top: 0;
    bottom: 0;
	left: 0;
	right: 0;
    position: absolute;
    margin: auto;
}
.scoreboard {
	font-family: 'HelveticaNeueBold', Helvetica,Arial,sans-serif;
	text-align: center;
	position: absolute;
    top: 181px;
    left: 331px;
	height: 68px;
	line-height: 68px;
}
.score {
	font-size: 80px;
}
.player {
	position: absolute;
	background-size: contain;
	width: 130px;
	height: 215px;
	left: 250px;
	bottom: 0px;
	z-index: 3;
    background: url('../images/bin.png') no-repeat;
    background-size: contain;
    transform-origin: 50% 50%;
}
.ball {
	position: absolute;
	width: 40px;
	height: 40px;
	top: 300px;
	z-index:2;
	opacity: 0;
	transform: translate3d(0,0,0);
	-webkit-transform: translate3d(0,0,0);
}
.ball1 {
	background: url('../images/ball.png') no-repeat;
	background-size: contain;
	left: 30px;
}
.ball2 {
	background: url('../images/ball.png') no-repeat;
	background-size: contain;
	left: 290px;
}
.ball3 {
	background: url('../images/ball.png') no-repeat;
	background-size: contain;
	left: 530px;
}
.buttons {
	width: 100%;
	height: 100%;
}
.arrows {
	position: absolute;
	top: 650px;
	width: 100px;
	z-index: 10;
}
.leftArrow {
	left: 20px;
}
.rightArrow {
	right: 20px;
}
.leftButton {
	position: absolute;
	height: 100%;
	width: 50%;
	z-index: 100;
}
.rightButton {
	position: absolute;
	height: 100%;
	width: 50%;
	left: 50%;
	z-index: 100;
}
