@font-face {
    font-family: 'Bebas';
    src: url('../fonts/bebas.eot');
    src: url('../fonts/bebas.eot?#iefix') format('embedded-opentype'),
        url('../fonts/bebas.ttf') format('truetype'),
        url('../fonts/bebas.woff2') format('woff2'),
        url('../fonts/bebas.woff') format('woff'),
        url('../fonts/bebas.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}
html, body {
	padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    font-family: Helvetica,Arial,sans-serif;
    overflow: hidden;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-overflow-scrolling: none;
    -o-user-select: none;
    user-select: none;
    cursor: default;
}
.preloader {
	opacity: 0;
	width: 1px;
    height: 1px;
}
.gameBGPreload {background: url('../images/background.jpg') no-repeat;}
.card1Preload {background: url('../images/1.png') no-repeat;}
.card2Preload {background: url('../images/2.png') no-repeat;}
.card3Preload {background: url('../images/3.png') no-repeat;}
.card4Preload {background: url('../images/4.png') no-repeat;}
.card5Preload {background: url('../images/5.png') no-repeat;}
.card6Preload {background: url('../images/6.png') no-repeat;}
.card7Preload {background: url('../images/7.png') no-repeat;}
.card8Preload {background: url('../images/8.png') no-repeat;}
.card9Preload {background: url('../images/9.png') no-repeat;}
.card10Preload {background: url('../images/10.png') no-repeat;}
.cardBackPreload {background: url('../images/back.png') no-repeat;}
.playAgainPreload {background: url('../images/playagain-btn.jpg') no-repeat;}
.resultBGPreload {background: url('../images/results-bg.jpg') no-repeat;}

#wrapper {
    margin: 0 auto;
    -ms-transform-origin: center top;
    -moz-transform-origin: center top;
    -o-transform-origin: center top;
    -webkit-transform-origin: center top;
    transform-origin: center top;
    width: 640px;
    height: 960px;
	background-color: #fff;
    background: url('../images/home-bg.jpg') no-repeat;
    background-size: contain;
	overflow: hidden;
    font-family: Arial, sans-serif;
    font-weight: bold;
}
.scoreText {
    position: absolute;
    top: 590px;
    left: 0;
    right: 0;
    margin: auto;
    text-align: center;
    color: #fff;
    font-size: 60px;
    font-family: 'Arial Rounded MT', Helvetica, sans-serif;
}
.positionText {
    position: absolute;
    top: 320px;
    left: 540px;
    color: #EF060C;
    font-size: 55px;
    text-shadow: 2px 2px 4px #000;
}
.suffix {
    font-size: 25px;
    vertical-align: super;
}
#btnPlay {
    position: absolute;
    background: url(../images/play-btn.jpg) no-repeat;
    background-size: contain;
    border: none;
    outline: none;
    -webkit-appearance: none;
    width: 424px;
    height: 77px;
    left: 0;
    right: 0;
    margin: auto;
    top: 700px;
    cursor: pointer;
}  
.leaderboard-button {
     position: absolute;
    background: url(../images/leaderboard-btn.jpg) no-repeat;
    background-size: contain;
    border: none;
    outline: none;
    -webkit-appearance: none;
    width: 424px;
    height: 77px;
    left: 0;
    right: 0;
    margin: auto;
    top: 800px;
    cursor: pointer;
}
