@font-face {
    font-family: 'guardian';
    src: url('../fonts/guardian_sans_xcond_regular.eot');
    src: url('../fonts/guardian_sans_xcond_regular.eot?#iefix') format('embedded-opentype'),
         url('../fonts/guardian_sans_xcond_regular.woff2') format('woff2'),
         url('../fonts/guardian_sans_xcond_regular.woff') format('woff'),
         url('../fonts/guardian_sans_xcond_regular.ttf') format('truetype'),
         url('../fonts/guardian_sans_xcond_regular.svg#guardian_sans_xcond_regularRg') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
font-family: 'Franchise Bold';
font-style: normal;
font-weight: normal;
src: local('Franchise Bold'), url('https://pagdig.blob.core.windows.net/gaas/franchise/Franchise-Bold-hinted.woff') format('woff');
}

@font-face {
font-family: 'Franchise Bold Webfont';
font-style: normal;
font-weight: normal;
src: local('Franchise Bold'), url('https://pagdig.blob.core.windows.net/gaas/franchise/franchise-bold-hinted-webfont.woff') format('woff');
}
html, body {
	padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    font-family: 'Franchise Bold', sans-serif;
    overflow: hidden;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-overflow-scrolling: none;
    -o-user-select: none;
    user-select: none;
    cursor: default;
}
.wrapper {
    margin: 0 auto;
    -ms-transform-origin: center top;
    -moz-transform-origin: center top;
    -o-transform-origin: center top;
    -webkit-transform-origin: center top;
    transform-origin: center top;
    width: 640px;
    height: 960px;
	background-color: #fff;
    background: url('../images/home-background.jpg') no-repeat;
    background-size: contain;
	overflow: hidden;
}
.scoreText {
    position: absolute;
    top: 895px;
    left: 0;
    right: 0;
    margin: auto;
    text-align: center;
    color: #fff;
    font-size: 50px;
    text-transform: uppercase;
}
.positionText {
    position: absolute;
    top: 320px;
    left: 540px;
    color: #EF060C;
    font-size: 55px;
    text-shadow: 2px 2px 4px #000;
}
.suffix {
    font-size: 25px;
    vertical-align: super;
}
#btnPlay {
    position: absolute;
    border: none;
    outline: none;
    -webkit-appearance: none;
    width: 400px;
    height: 77px;
    left: 0;
    right: 0;
    margin: auto;
    top: 700px;
    cursor: pointer;
    background-color: #fff;
    font-family: 'Franchise Bold', sans-serif;
    font-size: 80px;
    line-height: 64px;
    color: #7b1441;
}  
.leaderboard-button {
    position: absolute;
    border: none;
    outline: none;
    -webkit-appearance: none;
    width: 400px;
    height: 77px;
    left: 0;
    right: 0;
    margin: auto;
    top: 800px;
    cursor: pointer;
    background-color: #fff;
    font-size: 75px;
    line-height: 74px;
    text-align: center;
    text-decoration: none;
    color: #7b1441;
}
