@font-face {
    font-family: 'guardian';
    font-style: normal;
    font-weight: normal;
    src: local('guardian'), url('https://pagdig.blob.core.windows.net/gaas/guardian_sans_xcond_regular.woff') format('woff');

}
@font-face {
font-family: 'Franchise Bold old';
font-style: normal;
font-weight: normal;
src: local('Franchise Bold'), url('https://pagdig.blob.core.windows.net/gaas/franchise/Franchise-Bold-hinted.woff') format('woff');
}

@font-face {
font-family: 'Franchise Bold';
font-style: normal;
font-weight: normal;
src: local('Franchise Bold'), url('https://pagdig.blob.core.windows.net/gaas/franchise/franchise-bold-hinted-webfont.woff') format('woff');
}
html, body {
	padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    font-family: 'Franchise Bold', sans-serif;
    overflow: hidden;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-overflow-scrolling: none;
    -o-user-select: none;
    user-select: none;
    cursor: default;
}
.wrapper {
    margin: 0 auto;
    -ms-transform-origin: center top;
    -moz-transform-origin: center top;
    -o-transform-origin: center top;
    -webkit-transform-origin: center top;
    transform-origin: center top;
    width: 640px;
    height: 960px;
	overflow: hidden;
    background: url('../images/results-background.jpg') no-repeat;
    background-size: contain;
}
.resultMessage {
    width: 100%;
    text-align: center;
    font-size: 42px;
    color: #fff;
    position: absolute;
    text-transform: uppercase;
    top: 330px;
}
.finalScore {
    width: 100%;
    text-align: center;
    font-size: 85px;
    color: #fff;
    text-transform: uppercase;
    position: absolute;
    top: 350px;
}
.bestScore {
    width: 100%;
    text-align: center;
    font-size: 55px;
    color: #fff;
    text-transform: uppercase;
    position: absolute;
    top: 468px;
}
#btnPlay {
    position: absolute;
    border: none;
    outline: none;
    -webkit-appearance: none;
    width: 400px;
    height: 77px;
    left: 0;
    right: 0;
    margin: auto;
    top: 720px;
    cursor: pointer;
    background-color: #fff;
    font-size: 80px;
    line-height: 70px;
    color: #7b1441;
    font-family: 'Franchise Bold', sans-serif;
}  
#btnPlay:active {
    background-color: #7b1441;
    color: #fff;
} 
.leaderboard-button {
    position: absolute;
    border: none;
    outline: none;
    -webkit-appearance: none;
    width: 400px;
    height: 77px;
    left: 0;
    right: 0;
    margin: auto;
    top: 820px;
    cursor: pointer;
    background-color: #fff;
    font-size: 75px;
    line-height: 74px;
    text-align: center;
    text-decoration: none;
    color: #7b1441;
    font-family: 'Franchise Bold', sans-serif;
}
.leaderboard-button:active {
    background-color: #7b1441;
    color: #fff;
} 
.facebook-share {
    background: url('../images/fb.png') no-repeat;
    background-size: contain;
    position: absolute;
    border: none;
    outline: none;
    width: 82px;
    height: 82px;
    left: 0;
    right: 0;
    margin: auto;
    top: 600px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
}