html, body {
	padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    font-family: Helvetica,Arial,sans-serif;
    overflow: hidden;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-overflow-scrolling: none;
    -o-user-select: none;
    user-select: none;
    cursor: default;
	background-color: #000;
}
.wrapper {
    margin: 0 auto;
    -ms-transform-origin: center top;
    -moz-transform-origin: center top;
    -o-transform-origin: center top;
    -webkit-transform-origin: center top;
    transform-origin: center top;
    width: 640px;
    height: 960px;
	background-color: #fff;
	background-size: contain;
	overflow: hidden;
    position: relative;
}
.inner {
    width: 640px;
    height: 960px;
    overflow: hidden;
    background-color: mediumseagreen;
}
.tryLine {
    width: 100%;
    height: 10px;
    top: 100px;
    position: absolute;
    background-color: #fff;
}
.player {
    position: absolute;
    width: 100px;
    height: 100px;
    top: 120px;
    background-color: red;
    z-index: 2;
}
.leftPos {
    left: 70px;
}
.middlePos {
    left: 270px;
}
.rightPos {
    left: 470px;
}

.zombie {
    background-color: blue;
    position: absolute;
    width: 100px;
    height: 100px;
    z-index: 3;
    color: #fff;
    text-align: center;
}

.jerseyName {
    position: absolute;
    top: 5px;
    width: 100%;
    font-size: 18px;
}
.jerseyNumber {
    position: absolute;
    top: 35px;
    width: 100%;
    font-size: 42px;
}

#questionDialog {
    position: absolute;
    width: 300px;
    height: 300px;
    margin: auto;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 200;
    color: #fff;
    background-color: rgba(0,0,0,0.7);
    text-align: center;
    font-size: 28px;
}